@model JobPortalDemoApp.Models.JobPostModel

@using DataLayer.Entities

@{
    if (Model.ActionName.Equals("EditJobPost"))
    {
        Layout = null;
    }
    ViewBag.Title = "New Job Post";
}
<link href="~/Content/themes/base/chosen.min.css" rel="stylesheet" />
<div class="container">
    <h3>Post A New Job</h3>

    @using (Html.BeginForm(Model.ActionName, "Job", FormMethod.Post, new { id = "jobpost-form" }))
    {

        <input type="hidden" id="JobPostId" name="JobPostId" value="@Model.JobPostId" />
        <input type="hidden" id="ActionName" name="ActionName" value="@Model.ActionName" />
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Skills", htmlAttributes: new { @class = "control-label" })
            <div>
                <select data-placeholder='Choose options...' multiple="multiple" class='form-control chosen-select' name="SkillIds">
                    @foreach (var item in Model.Skills)
                    {
                        <option value='@item.Id'>@item.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobTypeId, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.JobTypeId,
                       new SelectList(Model.JobTypes, "Id", "Type"), "Choose an option..", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobTypeId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JobBrief, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextAreaFor(model => model.JobBrief, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobBrief, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Responsibilities, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextAreaFor(model => model.Responsibilities, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Responsibilities, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Requirements, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.TextAreaFor(model => model.Requirements, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Requirements, "", new { @class = "text-danger" })
            </div>
        </div>

        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="reset" class="btn" value="Reset" />

    }
</div>

@section scripts{

    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script>
        $(function () {
            $(".chosen-select").chosen({ width: "50%" });
        });
    </script>
}